.filter__wrap
  display: flex

  padding: rem(51) 0 rem(64)
  font-size: rem(14)
  text-transform: uppercase

  @media(max-width: rem(1026))
    justify-content: space-between

  @media(max-width: rem(769))
    justify-content: space-between

  @media(max-width: rem(600))
    padding: rem(24) 0 rem(40)

  .filter__menu
    position: relative
    max-width: 360px
    margin-left: 10px
    z-index: 1004

    @media(max-width: 1026px)
      margin-left: 70px

    @media(max-width: 1023px)
      margin-left: 5px

    @media(max-width: 426px)
      margin-left: 18px

    @media(max-width: 424px)
      max-width: 356px

    @media(max-width: 376px)
      margin-left: -5px

    @media(max-width: 374px)
      margin-left: 0

    svg
      margin-left: 11px

      @media(max-width: 600px)
        width: 37px
        height: 25px
        margin-left: 0
        margin-right: 0

  .filter__menu[open]
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)

  .filter__menu[open] .filter__title-menu
    color: $special-color
    fill: $special-color
    background: #fff
    position: relative
    width: 360px
    z-index: 1002

    @media(max-width: 374px)
      width: 290px

  .filter__menu[open]
    @media(max-width: 700px)
      position: absolute
      z-index: 1005

  .filter__title
    display: block
    width: 360px
    cursor: pointer
    padding: 13px 16px

    @media(max-width: 1026px)
      width: 106px

    @media(max-width: 770px)
      margin-left: 0

    @media(max-width: 700px)
      padding: 12px 0 12px 15px
      margin-right: 0

    @media(max-width: 424px)
      max-width: 356px

    @media(max-width: 374px)
      max-width: 290px
      position: relative
      z-index: 1003

    span
      @media(max-width: 600px)
        display: none

    &__title::-webkit-details-marker
      display: none

  .filter__title-size
    width: 70px
    padding: 13px 0

  .filter__drop
    position: absolute
    top: 40px
    left: 0
    width: 100%
    background: #fff
    padding: 0 16px
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    z-index: 1001

    @media(max-width: 374px)
      width: 290px

    .filter__subtitle
      font-weight: normal
      font-size: 14px
      line-height: 17px
      color: #EF5B70
      border-left: 5px solid #EF5B70
      border-bottom: 1px solid #EBEBEB
      padding: 11px
      margin-bottom: 24px
      display: block
      cursor: pointer

      &::-webkit-details-marker
        display: none

    .filter__submenu-list
      list-style: none
      margin-left: 33px
      margin-bottom: 24px

      .filter__submenu-item
        margin-bottom: 11px

      .filter__submenu-btn
        font-weight: normal
        font-size: 14px
        line-height: 17px
        color: #6F6E6E
        text-decoration: none
        text-transform: capitalize

        &:hover
          color: #EF5B70

  .filter__list
    display: flex
    align-items: center
    flex-direction: row
    margin-left: 20px
    color: #6F6E6E
    position: relative
    z-index: 1004

    @media(max-width: 1026px)
      font-size: 12px
      margin-right: 75px

    @media(max-width: 850px)
      margin-right: 10px

    @media(max-width: 700px)
      margin: 0 auto

    @media(max-width: 426px)
      font-size: 10px
      align-items: baseline

    i
      margin-left: 10px

      @media(max-width: 424px)

        display: none

    .filter__item
      margin-right: 28px

      @media(max-width: 325px)
        margin-right: 15px

    .filter__item:last-child
      margin-right: 0

    .filter__size
      position: relative

    .filter__size-drop
      position: absolute
      top: 35px
      left: -10px
      width: 79px
      height: 103px
      padding: 7px 9px 11px
      background: #fff
      color: #6F6E6E
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
      z-index: 1001

    .filter__size-item
      display: flex
      height: 17px
      align-items: center
      margin-bottom: 6px

      input
        margin-right: 9px
