.footer
  background: $blackBg

  &__wrapper
    display: flex
    justify-content: space-between
    padding: rem(24) 0
    align-items: center

    @media(max-width: rem(767))
      flex-direction: column-reverse

  &__text
    font-size: rem(16)
    color: $colorWhite
    margin-bottom: 0

  &__icon
    list-style: none

  &__social
    display: flex
    margin-bottom: 0

    .social__img
      width: rem(32)
      height: rem(32)
      padding: rem(7)
      background: $colorWhite
      margin-left: rem(8)

      &:hover
        background: $special-color
        fill: $colorWhite

    @media(max-width: rem(767))
      margin: rem(43) 0
