.pagination
  width: 284px
  height: 44px
  align-items: center
  margin: 0 auto 95px

  .pagination__block
    display: flex
    justify-content: center
    border: 1px solid #EBEBEB
    border-radius: 5px
    padding: 12px 16px

  ul
    font-weight: 400
    font-size: 16px
    text-decoration: none

    &:hover
      color: $special-color

  .page-item
    list-style: none

  i
    color: #000

    &:last-child
      margin-right: 0

    &:active
      color: $special-color

  .page-link
    margin: 0 12px
    font-weight: 300
    font-size: 16px
    line-height: 19px
    color: #C4C4C4
    text-decoration: none

    &:hover
      font-weight: 400
      color: $special-color

    &:focus
      color: $special-color
