@import mixin
@import header
@import subheader
@import slider
@import filter
@import promo
@import offer
@import review
@import registration
@import products
@import features
@import cart
@import pagination
@import feedback
@import footer

*
	margin: 0
	padding: 0
	box-sizing: border-box

* *
	ul
		margin: 0
		padding: 0

body
	height: 100%
	font-family: 'Lato', sans-serif

.wrapper
	max-width: rem(1140)
	min-height: 100%
	margin: 0 auto
	@media(max-width: rem(1170))
		margin: 0 rem(15)

	@media(max-width: rem(767))
		max-width: 95%

.error
	border: 0.15rem solid $special-color !important
	border-radius: 3px
